.containBox {
  border-radius: 10px;
  
  background: rgb(255, 255, 255, 0.5);
  box-shadow: 0 0 8px rgb(0, 0, 0, 0.2);
  padding: 20px;
}
.backColor{
  height: 100vh;
  background: rgb(88, 89, 91, 0.5);
  padding-top: 100px;
}
