.containBox {
  border-radius: 10px;
  
  background: rgb(255, 255, 255, 0.35);
  box-shadow: 0 0 8px rgb(0, 0, 0, 0.2);
  padding: 20px;
}
.backColor{
  height: 100vh;
  background: rgba(74, 192, 191, 0.3);
  padding-top: 100px;
}
